<h1>Create New Message</h1>

<%= form_for(@message) do |f| %>
  <%= f.label :content, 'Message' %>
  <%= f.text_field :content %>
  <%= f.submit 'Submit' %>
<% end %>

<%= link_to 'Back to whole list', messages_path %>  